@CHARSET "UTF-8";
body{
	background:#008FAE;
}
h1{
	position:relative;
	left:50px;
	color:#ffffff;
}
.bottom{
	position: absolute;
	left: 0px;
	top: 120px;
	width: 100%;
	height: 100%;
	border-top: 0px solid #484860;
	font-size: 14px;
	text-align: center;
}
.login{
	position:absolute;
	top:20px;
	left:90%;
	
	color:#ffffff;
	text-decoration:none;
	text-tansform:none;
}
.menu{
	position:relative;
	left:40%;
	
}
.menu-item1{
	cursor:pointer;
	margin-left:30px;
	font-size:20px;
	color:#ffffff;
}
.menu-item2{
	cursor:pointer;
	margin-left:30px;
	font-size:20px;
	color:#0099aa;
}
a:hover{
	color:#888888;
}